* {
  border: 1px solid red;
}

body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 12px;
}

body > header {
  display: flex;
  justify-content: space-between;
}

.hero-container {
  display: flex;
  justify-content: center;
}

.hero-container img {
  width: 480px;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.main-section .main-container {
  display: flex;
}

.main-section .main-container img {
  width: 150px;
}

.main-section .img-container {
  width: 150px;
  margin: 0 40px;
}

.quote-section {
  text-align: center;
}

.registration-section {
  display: flex;
  justify-content: center;
  gap: 150px;
}

body > footer {
  text-align: center;
}
