* {
  border: 1px solid red;
}

body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 12px;
}

header {
  display: flex;
  justify-content: center;
}

body > header > div {
  display: flex;
  justify-content: space-between;
}

header,
footer,
.hero-container {
  background-color: #1f2937;
  color: white;
}

figure {
  display: flex;
  justify-content: center;
  background-color: #e5e7eb;
  text-align: center;
  color: #1f2937;
  width: 100%;
}

body > footer {
  text-align: center;
}

.header-links {
  list-style-type: none;
}

.header-logo,
.header-links li a {
  text-decoration: none;
}

.header-logo,
.hero-title {
  color: #f9faf8;
}

.header-links li a,
.hero-text {
  color: #e5e7eb;
}

.hero-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero-container > div {
  display: flex;
  gap: 40px;
}

.hero-container > div img {
  width: 480px;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.main-section > h2 {
  color: #1f2937;
}

.main-section .main-container > div {
  display: flex;
}

.main-section .main-container img {
  width: 150px;
}

.main-section .img-container {
  width: 150px;
  margin: 0 20px;
}

.registration-section > div {
  display: flex;
  justify-content: space-around;
}

.registration-section {
  width: 1024px;
  background-color: #3882f6;
  color: white;
}

.registration-section > div {
  align-items: center;
}

.registration-section button {
  background-color: inherit;
  color: inherit;
  height: 40px;
}

.registration-section button {
  border: 1px solid white;
  padding: 10px;
}

.wide-container {
  max-width: 1024px;
  width: 100%;
}

.small-container {
  max-width: 825px;
  width: 100%;
}
