* {
  border: 1px solid red;
}

body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 12px;
}

body > header {
  display: flex;
  justify-content: space-between;
}

header,
footer,
.hero-container {
  background-color: #1f2937;
  color: white;
}

figure {
  background-color: #e5e7eb;
}

.header-links {
  list-style-type: none;
}

.header-logo,
.header-links li a {
  text-decoration: none;
}

.header-logo,
.hero-title {
  color: #f9faf8;
}

.header-links li a,
.hero-text {
  color: #e5e7eb;
}

.hero-container {
  display: flex;
  justify-content: center;
}

.hero-container img {
  width: 480px;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.main-section > h2 {
  color: #1f2937;
}

.main-section .main-container {
  display: flex;
}

.main-section .main-container img {
  width: 150px;
}

.main-section .img-container {
  width: 150px;
  margin: 0 40px;
}

.quote-section {
  text-align: center;
  color: #1f2937;
}

.registration-section,
.registration-section button {
  display: flex;
  justify-content: center;
  gap: 150px;
  background-color: #3882f6;
  color: white;
}

.registration-section button {
  border: 1px solid white;
}

body > footer {
  text-align: center;
}
